//grid general
@mixin ruleThemAll {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    @include ruleThemAll;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/***********JUST A TRY FOR THE GRID**********/

//seems to not be working!
/************************************************/ 

/* Remember, use bootstrap grid at all times. is an exercise of that!*/
.name {
    margin-bottom: 0;
}
.nameHeader {
    padding-top: 10rem;
}








