@media all and (max-width: 995px){
    .display-2 {
        font-size: 5rem;
    }
    .display-3 {
        font-size: 4rem;
    }
    .display-4 {
        font-size: 3rem;
    }

    #myNav ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vw;
        transform: translateX(-50rem);
        -webkit-transform: translateX(-50rem);
        -moz-transform: translateX(-50rem);
        -ms-transform: translateX(-50rem);
        -o-transform: translateX(-50rem);
        transition:transform .5s ease-in-out ;
        -webkit-transition:transform .5s ease-in-out ;
        -moz-transition:transform .5s ease-in-out ;
        -ms-transition:transform .5s ease-in-out ;
        -o-transition:transform .5s ease-in-out ;
        opacity: .8;
        & li
{
            padding: 0 2rem 0 0;

        }
       .modal-dialog .modal-content {
            width: 40vw  !important;
            margin-right:20vw !important;
            
        }
}
.menu-btn {
    position: absolute;
    cursor: pointer;
    top:3.5rem;
    right: 5rem;
    z-index: 2;

}

    //when click burger
    #myNav ul.nav-menu.show {
        transform: translateX(3rem) ;
        -webkit-transform: translateX(3rem) ;
        -moz-transform: translateX(3rem) ;
        -ms-transform: translateX(3rem) ;
        -o-transform: translateX(3rem) ;
}

}
@media all and (max-width: 850px){
    .display-2 {
        font-size: 3.5rem;
    }
    .display-3 {
        font-size: 2.5rem;
    }
    .display-4 {
        font-size: 2rem;
    }


}
@media all and (max-width: 650px){
    .display-2 {
        font-size: 3rem;
    }
    .display-3 {
        font-size: 2.2rem;
    }
    .display-4 {
        font-size: 1.8rem;
    }
    #photoHolder {
        width: 80vw;
        height: auto;
    }

}
@media all and (max-width: 550px){
    .display-2 {
        font-size: 2.5rem;
    }
    .display-4 {
        font-size:2rem ;
    }

}